body {
    background-color: #222;
    color: whitesmoke;
    font-family: system-ui;
    font-size: large;
    margin: 0%;
    align-content: center;
}

header {
    background-color: #111;
    position: sticky; top: 0;
    z-index: 2;
}

article {
    background-color: #333;
    width: auto;
    max-width: 800px;
    display: block;
    margin: auto;
    padding-bottom: 2px;
}

article p {
    padding-left: 16px;
    padding-right: 16px;
}

.article_date {
    display: inline;
    text-align:right;
    float: right;
    padding-right: 10%;
    margin-top: 3vw;
    font-size: 1.5vw;
}

@media screen and (max-width: 900px) {
    .article_date {
       font-size: 12px;
    }
  }

h1, h2 {
    text-align: center;
    margin: 0%;
    padding: 2vw;
    //border: #111;
}

hr {
    border: 1px solid rgb(110, 110, 110);
    margin: 0px;
}

a {
    color: inherit;text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: goldenrod;
  }

video {
    display: block;
    margin: auto;
    width: 100%;
}

.homepage {
    margin: auto;
    width: 100%;
    max-width: 800px;
}

.homepage p{
    margin: auto;
    max-width: 700px;
    padding: 30px;
}

.homepage video {
    max-height: 300px;
}